{%extends 'main.html'%}
{%block content%}
<div class="container">

		<div class="row">
			<h1 align="center">拍拍贷调查问卷</h1>

<p>填写说明：<br/>
1、 本调查问卷是复旦大学经济学院与ACCA [特许公认会计师公会] 联合互联网金融研究课题使用，目的是为了更好地了解P2P互联网金融服务特点而设计，问卷调查结果及其分析成果主要用于科研团队的学术研究，并协助拍拍贷改善服务质量，与政府、银行、工商、税务等部门均无关。研究过程和结果不会出现任何个体身份信息。调研的结果形成学术论文的同时，将给国家的金融决策提供建议，以期更好的为互联网金融政策制定提供参考。<br/>
2、 问卷调查所涉及的问题没有对错之分，您只需要按照实际情况填写，您答案的真实性和完整性对完成本课题的质量具有重要影响。请您尽力提供仔细实际的答案，并自由提供您的细节或建议.<br/>
3、 我们对本次调研所得的信息严格守密，不会向任何第三方提供您和您企业的任何身份或信息。本问卷不署名，您的回答会受到完全保密。<br/>
4、 您所回答的信息对其他用户在进行贷款时会起到一定的参考作用，我们将对您的个人信息进行保密，如果您觉得某些问题对您个人有所影响可以选择不与回答
</p>
<h4 style="color:red">1）只是利用拍拍贷做投资的用户请回答第一和第三部分</br>
 2）只是利用拍拍贷做借款的用户请回答第一和第二部分（个人借款请回答A卷，企业贷款请回答B卷）</br>
                                          3）即借款又贷款的企业用户请回答第一，第二，和第四部分</h4>
		</div>
		
		<div class="row">
			<form action='/postAnswers' method='post' class='form-inline navbar-form navbar-left'>
			<div class="container">
			<div class='form-group'>
				<h4 style="color:red">请输入您的拍拍贷账户名</h4>
			<input type='text' name='name' class='form-control' />
			</div>
			<div class='form-group'>
				<h4 style="color:red">请输入您的手机号</h4>
			<input type='text' name='cellphone' class='form-control' />
			</div>
			</div>
<script>
function toggle(targetid){
    if (document.getElementById){
        target=document.getElementById(targetid);
            if (target.style.display=="block"){
                target.style.display="none";
            } else {
                target.style.display="block";
            }
    }
}
</script>
		{%for ques in questions%}
			{%if ques[1] == 0%}
			<h3><a onclick="toggle(1)">一、基本信息（这部分为必选题，请您务必回答）</a></h3>
				<div class="container" id="1" style="display:none">
			{%elif ques[1] == 17%}
				</div>
				<h3><a onclick="toggle(2)">二、借款人问卷分A、B卷，A卷为个人借款问卷、B卷为企业借款问卷（个人借款请只回答A卷，企业借款人请只回答B卷)</a></h3>
				<div class="container" id="2" style="display:none">
			{%elif ques[1] == 18%}
				</div>
				<h4><a onclick="toggle(3)">A卷：个人借款问卷</a></h4>
				<div class="container" id="3"style="display:none">
			{%elif ques[1] == 31%}
				</div>
				<h4><a onclick="toggle(4)">B卷：企业借款问卷</a></h4>
				<div class="container" id="4"style="display:none">
			{%elif ques[1] == 57%}
				</div>
				<h3><a onclick="toggle(5)">三、贷款人问卷（如果只做投资，不借贷请回答C卷）</a></h3>
				<div class="container" id="5"style="display:none">
			{%elif ques[1] == 69%}
				</div>
				<h3><a onclick="toggle(6)">四、既是借款人又是贷款人的（企业主）问卷</a></h3>
				<div class="container" id="6"style="display:none">
			{%end%}
			<div class='form-group,row' width="40%">
				<h4 style="color:red">{{ques[0]}}</h4>
				{%for line in ques[2].split('\n')%}
				<p>{{ line}} </p>
				{%end%}
			<input type='text' name='answer{{ques[1]}}' class='form-control' />
			</div>
			{%if ques[1] == 94%}
				</div>
			{%end%}
			
		{%end%}
			<div class="row">
			<button type='submit' class='btn btn-success'>提交</button>
			</div>
			</form>
		</div>
</div>

{%end%}
