<meta charset='utf-8'>
<html>
	<head>
		<title>ppdai survey</title>
		<meta name='viewport' content='width=device-width,initial-scale=1.0'>
		<link href='/static/bootstrap.min.css' rel='stylesheet' type='text/css'>
		<script src='/static/jquery-2.1.1.min.js'></script>
		<script src='/static/bootstrap.min.js'></script>
	</head>
	<body>
		<header>
		{%block header%}
		{%end%}
		</header>
		<content>
		{%block content%}
		{%end%}
		</content>
		<footer>
		{%block footer%}
		{%end%}
		</footer>
	</body>
</html>
